<!DOCTYPE html>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link rel="stylesheet" ref="registration.scss"/>
<html>
  <body class="back">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    <div class= "container" id="UpdateBorder">
      <div class= " row light-well">
        <br>
        <h2> Update your Profile </h2>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control"%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <br>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", placeholder:"(leave blank for no change)", class:"form-control"%>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <br><br>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.email_field :first_name, class:"form-control"%>
        </div>
        <br><br>
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.email_field :last_name, class:"form-control" %>
        </div>
        <br><br>
        <div class="field">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
        </div>
        <br><br>
        <div class="field">
          <%= f.label :current_password %><br>
          <%= f.password_field :current_password, autocomplete: "off" , placeholder:"Current Password", class:"form-control"%>
        </div>
        <br>
        <div class = "fieldSize">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar_url (:thumb)%>
          <% end %>
          <%= f.file_field :avatar%>
        </div>

        <div class="actions UpdateBtn">
          <%= f.submit "Update", class: "btn btn-lg btn-block login"  %>
        </div>
        <% end %>
      </div>
  </div>
  <body>
<html>
