<% provide(:title, "Log In") %>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6/css/font-awesome.min.css" />
<!DOCTYPE html>
<html>
<h3>Log In</h3>

<head>
  <title>
    <% yield(:title) %> | Rate My Lease
  </title>
</head>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <span><b>Email</b></span><br />
    <%= f.text_field :login %></p>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<% end %>

<%= link_to user_facebook_omniauth_authorize_path do %>
  <span class="icon"><i class="fa fa-facebook-square"></i></span> <span class="icon_title">| Continue with Facebook</span>
<% end %>
<br>

<%= link_to user_google_oauth2_omniauth_authorize_path do %>
<span class="icon"><i class="fa fa-google-plus"></i></span> <span class="icon_title">| Continue with Google Plus</span> </a>
<% end %>
<br>

<%= link_to "Sign Up", signup_path %>

</html>
