<% provide(:title, "New Lease") %>
<!DOCTYPE html>

<html>
	<head>
		<title> <%= full_title(yield(:title)) %> | New Lease </title>
	</head>
	<body>
		<h3> Create a Lease </h3>
			<%= simple_form_for @lease,:html => { :class => 'well' }, url: leases_path do |f| %>
			<% if @lease.errors.any? %>
				<div id="error_explanation">
					<span><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</span>
					<ul>
						<% @lease.errors.messages.each do |message| %>
							<li>
								<%= message.last.last.html_safe %>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= f.input :address , error: false, :required => false %>

			<%= f.label :province, "Province" %>
			<%= f.select :province, Lease::PROVINCE, :include_blank => true, :required => false, error: false, input_html: { class: "has-error" }%>

			<%= f.input :city, error: false, :required => false  %>
			<%= f.input :university, error: false, :required => false  %>
			<%= f.input :postalcode, label: "Postal Code (Optional)" , error: false %>

			<%= f.label :numberofbathrooms, "# of Bathrooms" %>
			<%= f.select :numberofbathrooms, 1..10, error: false, :required => false, :include_blank => true %>

			<%= f.label :numberofbathrooms, "# of Bedrooms" %>
			<%= f.select :numberofbedrooms, 1..10, error: false, :required => false,  :include_blank => true %>

			<%= f.label :numberofparkingspots, "# of Parking Spots" %>
			<%= f.select :numberofparkingspots, 0..10, :selected => "0"%>

			<div class="checkbox" style= "margin-left: 20px">
			<%= f.input :utilities, as: :radio_buttons %>
			</div><br>

			<div class="checkbox" style= "margin-left: 20px">
			<%= f.input :internet, as: :radio_buttons %>
			</div><br>

			<%= f.input :image, as: :file %>

			<div class="action_btns">
				<div class="one_half">
					<%= f.button :submit %>
				</div>
			</div><br>


			<!-- <%= f.label "Address" %>
			<%= f.text_field :address, class: 'form-control' %>

      <label for="Provinces">Province  </label>
      <select id= "Provinces" name="lease[province]" class="ProvinceBoxSize">Province</>
        <option value="Alberta">Alberta</option>
        <option value="British Columbia">British Columbia</option>
        <option value="Saskatchewan">Saskatchewan</option>
        <option value="Manitoba">Manitoba</option>
        <option value="New Brunswick">New Brunswick</option>
        <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
        <option value="Prince Edward Island">Prince Edward Island</option>
        <option value="Nova Scotia">Nova Scotia</option>
        <option value="Ontario">Ontario</option>
        <option value="Quebec">Quebec</option>
      </select><br>

			<%= f.label :city %>
			<%= f.text_field :city, class: 'form-control' %>


			<label for ="School">University </label>
			<select id="School" name="lease[university]" class= "SchoolBoxSize"> School</>
				<option value="Ryerson">Ryerson University</option>
				<option value="Queen's">Queen's University</option>
			</select>

      <label for="postalcode">Postal Code</label>
      <input id="postalcode" name="lease[postalcode]" type="text" /><br />

      <label for="Bathrooms">Bathrooms</label>
			<select id="Bathrooms" name="lease[numberofbathrooms]" class="NumberBoxSize">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>

      <label for="Bedrooms">Bedrooms</label>
			<select id="Bedrooms" name="lease[numberofbedrooms]" class="NumberBoxSize">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
			</select>

      <label for="Bathrooms">Bathrooms</label>
			<select id="Bathrooms" name="lease[numberofbathrooms]" class="NumberBoxSize">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
        <option value="5">5</option>
				<option value="6">6</option>
			</select>

      <div class="checkbox" style= "margin-left: 20px">
        <label for="Utilities">Utilities</label>
        <input id= "utilities" name="lease[utilities]" type="checkbox" />
      </div><br>

      <div class="checkbox" style= "margin-left: 20px">
        <label for="Internet">Internet</label>
        <input id= "internet" name="lease[internet]" type="checkbox" />
      </div><br>

      <div class="action_btns">
				<div class="one_half">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div>
			</div><br> -->

			<% end %>

	</body>
	</head>
</html>
