<% provide(:title, @lease.address) %>
<html>
<body>
  <%= javascript_include_tag 'jquery.raty.js', 'data-turbolinks-track' => false %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
          <table class="table">
            <tbody class="leaseDescription">
              <tr>
                <td><strong>Address</strong></td>
                <td><%= @lease.address %></td>
              </tr>
              <tr>
                <td><strong>Province</strong></td>
                <td><%= @lease.province %></td>
              </tr>
              <tr>
                <td><strong>City</strong></td>
                <td><%= @lease.city %></td>
              </tr>
              <tr>
                <td><strong>University</strong></td>
                <td><%= @lease.university %></td>
              </tr>
              <tr>
                <td><strong>Postal Code</strong></td>
                <td><%= @lease.postalcode %></td>
              </tr>
              <tr>
                <td><strong># of Bathrooms</strong></td>
                <td><%= @lease.numberofbathrooms %></td>
              </tr>
              <tr>
                <td><strong># of Bedrooms</strong></td>
                <td><%= @lease.numberofbedrooms %></td>
              </tr>
              <tr>
                <td><strong># of Parking Spots</strong></td>
                <td><%= @lease.numberofparkingspots %></td>
              </tr>
              <tr>
                <td><strong>Utilities</strong></td>
                <td>
                  <% if @lease.utilities==true %>
                  Yes
                  <% else %>
                  No
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Internet</strong></td>
                <td>
                  <% if @lease.internet==true %>
                  Yes
                  <% else %>
                  No
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Laundry</strong></td>
                <td>
                  <% if @lease.laundry==true %>
                  Yes
                  <% else %>
                  No
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Furnished</strong></td>
                <td>
                  <% if @lease.furnished==true %>
                  Yes
                  <% else %>
                  No
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

          <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
              <li data-target = "#myCarousel" data-slide-to = "1"></li>
              <li data-target = "#myCarousel" data-slide-to = "2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src = "images/beach.jpg" alt = "Beach" class = "img-responsive"/>
              </div>
            </div>
          </div> -->



          <div class="col-md-8">
            <div class="average-review-rating" style="float:left;"data-score= "<%= @avg_rating %>"></div>
            <%= link_to "Add a Photo", images_path %>
            <div style="float:left; padding-left:5px;">
              <%= @lease.reviews.count %> reviews
            </div>
            <% if @lease.image_url.present? %>
              <%= image_tag @lease.image_url, :class => "imageContainer" %>
            <% else %>
              <%= image_tag("http://placehold.it/370x210") %>
            <% end %>

          </div>

    </div>
  </div>
</div>

    <div class="container">
      <div id="marker"></div>

        <div class="reviewsSection">
          <div class="reviewButton">
            <%= link_to "Write a Review", new_lease_review_path(@lease), :class => "btn createReviewBtn"%>
          </div>

        <table style="width: 100%;">
          <thead>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
            <tr class="eachReview">
              <td class="reviewName">
                <%= "#{review.user.first_name} #{review.user.last_name[0]}." %>
              </td>
              <td class="reviewRating">
                  <div class="average-review-rating" style="float:left;"data-score= "<%= review.rating %>"></div>
              </td>
              <td class="reviewComment">
                <%= review.comment %>
              </td>
            </tr>
            <!-- <%= render @reviews %> -->
          </tbody>

          <% end %>

        </table>
      </div>
    </div>

  <script type="text/javascript">

  function initAutocomplete() {
    var locations = <%=raw @marker %>
    var latlang = new google.maps.LatLng(locations[1], locations[2]);
    var map = new google.maps.Map(document.getElementById('marker'), {
      // scrollwheel: true,
      zoom: 17,
      center: latlang,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    var marker;

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[1], locations[2]),
      map: map
    });
  }
  </script>
  <script>
    (function($){
      $('.review-rating').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets'
      });
      })(jQuery);

      (function($){
        $('.average-review-rating').raty({
          readOnly: true,
          path: '/assets',
          score: function() {
            return $(this).attr('data-score')
          }
        });
      })(jQuery);
  </script>
</body>
</html>

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyDDVHE7vDIfbP8Jzh5lOO_tRwSsaBU7LA4&libraries=places&callback=initAutocomplete" async defer></script>
