<% provide(:title, @lease.address) %>
<html>
<body>
  <%= javascript_include_tag 'jquery.raty.js', 'data-turbolinks-track' => true %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Address</strong></td>
                <td><%= @lease.address %></td>
              </tr>
              <tr>
                <td><strong>Province</strong></td>
                <td><%= @lease.province %></td>
              </tr>
              <tr>
                <td><strong>City</strong></td>
                <td><%= @lease.city %></td>
              </tr>
              <tr>
                <td><strong>University</strong></td>
                <td><%= @lease.university %></td>
              </tr>
              <tr>
                <td><strong>Postal Code</strong></td>
                <td><%= @lease.postalcode %></td>
              </tr>
              <tr>
                <td><strong># of Bathrooms</strong></td>
                <td><%= @lease.numberofbathrooms %></td>
              </tr>
              <tr>
                <td><strong># of Bedrooms</strong></td>
                <td><%= @lease.numberofbedrooms %></td>
              </tr>
              <tr>
                <td><strong># of Parking Spots</strong></td>
                <td><%= @lease.numberofparkingspots %></td>
              </tr>
              <tr>
                <td><strong>Utilities</strong></td>
                <td><%= @lease.utilities %></td>
              </tr>
              <tr>
                <td><strong>Internet</strong></td>
                <td><%= @lease.internet %></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <%= image_tag @lease.image_url, :class => "image-container" %>
      </div>
      <div>
        <h2>Average Rating</h2>
        <div class="average-review-rating" data-score= "<%= @avg_rating %>"></div>
        <span><%= @lease.reviews.count %></span>
      </div>
      <div id="marker" style='width: 500px; height: 400px;'></div>

    </div>
  </div>
  <h3>Reviews</h3>
  <div>
    <%= render @lease.reviews %>

    <div class ="clearfix padding30">
      <%= link_to "Write a Review", new_lease_review_path(@lease),class: "btn col-md-7"%>
    </div>
  </div>

  <script type="text/javascript">

  function initAutocomplete() {
    var locations = <%=raw @marker %>
    var latlang = new google.maps.LatLng(locations[1], locations[2]);
    var map = new google.maps.Map(document.getElementById('marker'), {
      // scrollwheel: true,
      zoom: 17,
      center: latlang,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    var marker;

    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[1], locations[2]),
      map: map
    });
  }
  </script>

</body>
</html>
<script>
  (function($){
    $('.review-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets'
    });
    })(jQuery);
</script>


<script>
  (function($){
  	$('.average-review-rating').raty({
  		readOnly: true,
  		path: '/assets',
  		score: function() {
  			return $(this).attr('data-score')
  		}
  	});
  })(jQuery);
</script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyDDVHE7vDIfbP8Jzh5lOO_tRwSsaBU7LA4&libraries=places&callback=initAutocomplete" async defer></script>
