<% provide(:title, @lease.address) %>
<ul>
<li><%= @lease.address %></li>
<li><%= @lease.province %></li>
<li><%= @lease.city %></li>
<li><%= @lease.university %></li>
<li><%= @lease.postalcode %></li>
<li><%= @lease.numberofbathrooms %></li>
<li><%= @lease.numberofbedrooms %></li>
<li><%= @lease.numberofparkingspots %></li>
<li><%= @lease.utilities %></li>
<li><%= @lease.internet %></li>
</ul>
